

.slider {
  max-width: 100vw;
}




.slider{

}
.slider div{

}

.containerSetaR {
  display: flex;
  width: 8vw;
  height: 8vw;
  max-width: 50px;
  max-height: 50px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  right: 20px;
  bottom: 170px;
  z-index: 2;
}
.slick-slide{
  padding-left: 10px;
  padding-top: 10px;
}
.containerSetaL {
  display: flex;
  width: 8vw;
  height: 8vw;
  max-width: 50px;
  max-height: 50px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  left: 20px;
  bottom: 170px;
  z-index: 2;
}
.seta{
  width: auto;
  height: auto;
}

.divSlider{
  padding-right: 10px;
}
.containerSeta svg {
  flex: 1 0 0;
  align-self: stretch;
}

