@import '~bootstrap/scss/bootstrap.scss';



.link {
  text-decoration: none;
}

.fundoLilas {
  background-color: #F3DFE0;
  min-height: 100vh;
}

.fundoSalmao {
  background-color: #F2CAB9;
}

.fundoBranco {
  background-color: #FFFFFF;
}


.botao {
  display: flex;
  width: 100vw;
  max-width: 330px;
  height: 70px;
  padding: 33px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #E6B7A3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 440px) {
  .botao {
    display: flex;
    width: 100vw;
    max-width: 330px;
    height: 57px;
    padding: 33px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #E6B7A3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.tituloSecao {
  color: #482122;
  text-align: start;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@media (max-width: 768px){
  .tituloSecao {
    color: #482122;
    text-align: start;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .subContainer {
    height: 100%;
    display: flex;
  }
  .paragrafoSecao {
    color: #482122;
    text-align: start;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

}

.legendaIcone {
  width: 98px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.paragrafoSecao {
  color: #482122;
  text-align: start;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.textoBotao {
  color: #482122;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.containerCapa {
  min-height: calc(100vh);
  height: auto;

}

.subContainer{
  height: 100%;
  display: flex;
  align-items: center;
}
